# Documentación fuente entregada por el cliente: contiene material con derechos
# reservados (Manual de Identidad © USOS) y documentos legales con datos personales.
# No se publica en un repositorio público.
documentos/

# Next.js
/.next/
/out/
next-env.d.ts

# Dependencias
/node_modules/

# Vercel
.vercel

# Variables de entorno
.env*.local

# Sistema operativo / editor
.DS_Store
Thumbs.db
*.log
